@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Pacifico&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-height: 100%;
    max-width: 100%;
    font-family: 'poppins', sans-serif;
    color: #222;
}
.background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/portfolio2.jpeg");
    background-size: cover;
    background-position: top;
    max-width: 100%;
    height: 670px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}


/* .background h1{
    position: relative;
    top: 5%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(29, 17, 17, 0.4);
} */
.head .row .col-12{
    color: #F9FAFD;
    margin-top: 10%;
    text-align: center;
}

nav {
    margin: 0 auto;
    align-items: center;
  }
  .navbar-nav{
    align-items: center;
    margin-left: 25%;
    margin-top: 15px;
  }
  
  /* The sticky class is added to the nav with JS when it reaches its scroll position to maintain a fixed position */
  .sticky {
    position: fixed;
    top: 0;
    z-index:1;
    min-width: 100%;
    margin: auto;
    background-color: black;
    transition: padding 2000ms ease;
    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    padding-top: 15px;
  }
  
  .nav-link {
      background-color:rgba(255,255,255,0.7);
      float: left;
      padding-bottom: 10px;
      padding-right: 6px;
      margin-right:15px;
      border-bottom: 5px solid #83D2C3;
      border-left: 2px solid rgb(169, 235, 223);
      border-top: 0.5px solid rgb(215, 245, 239);
      border-right: 0.1px solid rgb(230, 253, 249);
    
    }

  a {
      text-decoration: none;
      color: #0DAEA3; 
      font-weight: bold;
      margin-bottom: 10px;
  }
  .nav-link {
    color: rgb(3, 124, 116); 
}
  .nav-link:hover {
    color: black;
  }
  #image{
    /* position: absolute;
    margin-left: 45%;
    margin-top: 2%; */
    margin: auto;
    margin-top: 5%;
  }
  
  #image img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
    
    #fontawesome {
        /* align-items: center;
        margin-left: 34%;
        padding: 5px;
        max-width: 30%; */
        margin: auto;
        
    }

    .fab:hover {
        color: white;
        text-decoration: none;
      }
    
      /*About Section */
      #about{
        margin-top: 5%;
    }
      h5{
          text-align: center;
      }
      .about{
          padding-top: 5%;
          text-align: center;
      }
      .shey {
          color: #0DAEA3;
      }
      .content .container{
          padding-top: 3%;
          padding-bottom: 3%;
      }
      
      .green1{
        animation: green1 2s ease-out;
      }
      .yellow1{
        animation: yellow1 2s ease-out;
    }
      .red1{
        animation: red1 2s ease-out;
    }
    .orange1{
        animation: orange1 2s ease-out;
    }
    
    .blue1{
        animation: blue1 2s ease-out;
    }
    .myProgress {
        width: 100%;
        border: 1px solid #0DAEA3;
        margin: 1%;
        text-align: center;
        vertical-align: middle;
      }
      .my-bar{
          /* color: white; */
          /* padding-left: 2%; */
         
      }
     
      @-moz-keyframes green1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    @-moz-keyframes yellow1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 1000%;
        };
    }
    
    @-moz-keyframes red1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @-moz-keyframes orange1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    @-moz-keyframes blue1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @keyframes green1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @keyframes red1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @keyframes yellow1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @keyframes blue1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }

    /* Project section */
    #projects .add-margin{
        width: 80%;
    }
    .project-bg {
        margin: 0 auto;
    }
    .project-bg .container{
        margin-bottom: 5%;
        height: auto;
    }
    .project-bg .checkout{
        color: rgb(36, 33, 33);
    }
    .project-bg .checkout hr{
        max-width: 30%;
        background-color: #0DAEA3;
        text-align: center;
        margin-left: 10px;
    }
    .project-bg .coll .detail-section{
       border: 2px solid #0DAEA3;
    }
    .project-bg .detail-section .description{
        /* text-align: right; */
        font-weight: bold;
        padding-right: 1%;
        color:darkslategray;
    }
    
    .project-bg .detail-section .links{
        text-decoration: none;
        padding-left: 6%;
    }
    .project-bg .detail-section .links a{
        text-decoration: none;
        color: #0DAEA3;
    }
    .project-bg .detail-section .links a:hover{
        color: rgb(2, 204, 255);
    }
    .project-bg .detail-section .code{
        padding-right: 5%;
    }
    .project-bg img{
        width: 100%;
        height: 150px;
    }

    .checkout{
        margin-bottom: 3%;
        padding: 5% 0%;
        color: black;
        height: 50px;
    }
    .checkout h3{
        border-left: 6px solid #0DAEA3;
        padding-left: 1%;
    }
    .project-bg .first-row{
        margin-bottom: 5%;
    }
    

    /* blog section */
  #blog{
      width: 80%;
      margin: 8%;
      text-align: center;
    }
    #blog .article-head{
        margin-bottom: 3%;
        /* color: rgb(114, 112, 112); */
    }
    #blog .article-post{
        margin-bottom: 2%;
    }
    #blog .article-post a:hover {
        color:black;
    }

    #blog a{
        text-decoration: none;
        box-sizing: inherit;
        transition-property: all;
        transition-duration: .6s;
        transition-timing-function: ease;
    }

    #blog a:hover,
    #blog a:active {
        letter-spacing: 3px;
    }

    #blog a:after,
    #blog a:before {
    border: 1px solid #0DAEA3;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 1000ms ease-in-out;
    width: 0;
    }

    #blog a:hover:after,
    #blog a:hover:before {
        border-top: 1px solid #0DAEA3;
        transition: width 1000ms ease-in-out;
        width: 60%;
        /* color: black; */
    }

    #blog a:hover:before {
        bottom: auto;
        top: 0;
        width: 60%;
        /* color: black; */
    }

/* footer section */
#footer{
    background-color: black;
    color: white;
    text-align: center;
}

#footer i{
    color: rgb(250, 118, 98);
}
@media only screen and (max-width: 600px) {
    #image{
        margin-top: 12%;
        margin-left: 36%;
    }
    /* projects */
    .project-bg .container{
        margin-bottom: 25%;
    }
    .project-bg .container h3{
        color: black;
        font-size: 1.5em;
    }
    .project-bg .container hr{
        min-width: 50%;
    }
    .project-bg .detail-section .description{
        text-align: left;
    }
    /* blog */
    #blog{
        width: 100%;
        margin: 8% 0 8% 0;
        text-align: center;
      }
    #blog .article-head{
        min-width: 80%;
        margin-bottom: 5%;
    }
    #blog .article-post{
        margin-bottom: 5%;
    }

    /* footer */
    #footer{
        padding-left: 0;
        min-width: 100%;
        padding: 5px;
    }
    #footer h2{
        font-family: 'Lobster', cursive;
    }
    #footer p{
        font-size: 15px;
    }
}

@media only screen and (min-width: 995px) and (max-width: 1280px) {
   
}
@media only screen and (min-width: 602px) and (max-width: 1227px) {
   
}
@media only screen and (max-width: 990px) {
    .project-bg .container{
        margin-bottom: 25%;
    }
    .project-bg .detail-section .description{
        text-align: left;
    }
    #sticky-top{
        display: none;
    }
    .nav-link {
      width: 90px;
      padding-bottom: 10px;
      padding-right: 1px;
      margin-right:1px;
      border: 1px solid #83D2C3;
    
    }
    
    #image{
      position: absolute;
      margin-left: 40%;
      margin-top: 10%;
    }
    
   #fontawesome {
      max-width: 40%;
      margin-top: 35%;
  }

  .fab{
      margin-right: 0 30% 0 0;
  }
  
  #image{
      margin-top: 20%;
      margin-left: 45%;
  }
  #image img{
      width: 90px;
      height: 90px;
  }

}