@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Pacifico&display=swap');

html, body{
    font-family: 'Open Sans', sans-serif;
    max-height: 100%;
    max-width: 100%;
    font-family: 'poppins', sans-serif;
    color: #222;
}
.background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/portfolio2.jpeg");
    background-size: cover;
    background-position: top;
    max-width: 100%;
    height: 670px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}
.head h1{
    font-family: 'Lobster', cursive;
}
.head .row .col-12{
    color: #F9FAFD;
    margin-top: 10%;
    text-align: center;
}

nav {
    text-align: center;
    margin: 0 auto;
  }
  .navbar-nav{
      margin-left: 29%;
      margin-top: 15px;
  }
  
  /* The sticky class is added to the nav with JS when it reaches its scroll position to maintain a fixed position */
  .sticky {
    position: fixed;
    top: 0;
    z-index:1;
    min-width: 100%;
    margin: auto;
    background-color: black;
    transition: padding 2000ms ease;
    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    padding-top: 15px;
  }
  
  .nav-link {
      float: left;
      padding-bottom: 10px;
      padding-right: 6px;
      margin-right:15px;
      border: 1px solid #83D2C3;
    
    }

  a {
      text-decoration: none;
      color: #0DAEA3; 
      font-weight: bold;
      margin-bottom: 10px;
  }
  .nav-link:hover {
    color: white;
  }
  #image{
    margin-left: 85%;
    margin-top: 15%;
  }
  
  #image img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    
    #fontawesome {
        margin-left: 33%;
        padding: 5px;
        max-width: 30%;
        
    }

    .fab:hover {
        color: rgb(248, 94, 43);
        text-decoration: none;
      }
      @media only screen and (max-width: 600px) {
        .navbar-nav {
            display: none;
          }
          #sticky-top{
              display: none;
          }
          .nav-link {
            width: 90px;
            padding-bottom: 10px;
            padding-right: 1px;
            margin-right:1px;
            border: 1px solid #83D2C3;
          
          }
          
        #image{
            margin-left: 35%;
            margin-top: 47%;
            padding-bottom: 5%;
        }
        #fontawesome {
            max-width: 40%;
            margin-top: 15%;
        }
        .fab{
            margin-right: 0 30% 0 0;
        }
    
    }
      


      /*About Section */
      h5{
          text-align: center;
      }
      .about{
          padding-top: 5%;
          text-align: center;
      }
      .content .container{
          padding-top: 3%;
          padding-bottom: 10%;
      }
      
      .green1{
          background-color: rgb(110, 203, 133);
          width: 74%;
        animation: green1 2s ease-out;
        -webkit-animation: green1 2s ease-out;
      }
      .yellow1{
        background-color: rgb(243, 197, 44);
        width: 80%;
        animation: yellow1 2s ease-out;
        -webkit-animation: yellow1 2s ease-out;
    }
      .red1{
        background-color:#34A092;
        width: 90%;
        animation: red1 2s ease-out;
        -webkit-animation: red1 2s ease-out;
    }
    .orange1{
        background-color: #FF835B;
        width: 95%;
        animation: orange1 2s ease-out;
        -webkit-animation: orange1 2s ease-out;
    }
    
    .blue1{
        background-color: rgb(107, 53, 35);
        width: 60%;
        animation: blue1 2s ease-out;
        -webkit-animation: blue1 2s ease-out;
    }
    .myProgress {
        width: 100%;
        background-color: grey;
      }
      .my-bar{
          color: white;
          padding-left: 2%;
      }
     
      @-moz-keyframes green1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 74%;
        };
    }
    @-moz-keyframes yellow1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 80%;
        };
    }
    
    @-moz-keyframes red1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 90%;
        };
    }
    
    @-moz-keyframes orange1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 95%;
        };
    }
    @-moz-keyframes blue1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 60%;
        };
    }
    
    @keyframes green1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 74%;
        };
    }
    
    @keyframes red1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 90%;
        };
    }
    
    @keyframes yellow1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 80%;
        };
    }
    
    @keyframes blue1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 60%;
        };
    }
    
    /*skills Section */
    /*.fixed-image{
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://cdn.dribbble.com/users/81337/screenshots/4281881/hex_doctor-04-comp_a-800x600-selective_256-lossy_16.gif");
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 500px;
    }*/
    .fixed-image{
        background-color: #F9F9F9;
    }
    #skills { 
        color:black;
        font-weight: bold;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 20%;
    
    }
      
    #skills .fa-code{
        color: #e54d26;
    }
    #skills .fa-bold{
        color: #563d7c;
    }
    #skills .fa-css3{
        color: #2163af;
    }
    #skills .fa-js-square{
        color: #E8E500;
    }
    #skills .fa-php{
        color: #4647F7;
    }
    #skills .fa-gem{
        color: #F3007E;
    }
    #skills .fa-css3, .fa-code, .fa-bold, .fa-js-square, .fa-php, .fa-gem{
        font-size: 2em;
        margin: 1rem;
    }
    #skills h3, p{
        font-size: 1em;
    }
    #skills h2{
        margin-left: 32%;
    }
    #skills hr{
        border-top: 2px solid #e54d26;
        width:30%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 27%;
    }
    @media only screen and (max-width: 600px) {
        #skills h2, hr{
            margin: 0 auto;
        }
        #skills p, .lead{
            display: none;
        }
        .about{
            padding-top: 20%;
        }
        #skills .col-lg-4{
            padding-left: 27%;
        }
    
      }

    /* Project section */
    #projects{
        background-image: url(img/binary.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    #projects .add-margin{
        padding-top: 7%;
        width: 80%;
    }
    @media only screen and (max-width: 600px) {
        #projects .add-margin{
            padding-top: 28%;
        }
      }
    .project-bg {
        margin: 0 auto;
    }
    .project-bg .container{
        margin-bottom: 5%;
        margin-top: 5%;
    
    }
    .project-bg .coll a{
        text-decoration: none;
        color:#6B3523;
        font-weight: bold;
    }
    .project-bg .coll a:hover{
        color: #090861;
    }
    .project-bg hr{
        color:white;
    }
    
    .project-bg img{
        width: 100%;
        height: 100px;
    }

    .checkout{
        margin-bottom: 3%;
        padding: 5%;
        color: black;
        height: 50px;
    }
    .checkout h3{
        border-left: 6px solid #e54d26;
        padding-left: 1%;
    }
    .project-bg hr{
        max-width: 30%;
        background-color: #e54d26;
        text-align: center;
        margin-left: 10px;
    }
    
    .code{
        padding-right:40%;
    }
    .project-bg .coll .description{
        color: #090861;
    }

    /* Image zoom effect */
.img-hover-zoom {
    height: 200px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease-out;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }
  
  /* blog section */
  
  #blog .container-fluid{
      padding: 5%;
  }
  @media only screen and (max-width: 600px) {
    .carousel-caption {
      position: unset;
    }
    #blog .color-ball{
        display: none;
    }
    #blog .h5{
        font-size: 10px;
    }
    #blog p{
        font-size: 5px;
    }
  }

  .carousel-item{
    height: 220px;
  }
  .carousel-caption{
      color:black;
  }
  .color-ball {
    margin-left: 65%;
    margin-top: 7%;
    width: 110px;
    height: 120px;
    border-radius:50%;
  }
  .first{
    background-color:#34A092;
  }
  .second{
    background-color: #FF835B;
  }
  .third{
    background-color:#6B3523;
  }
  .fourth{
    background-color:#ee4ed9;
  }
  .side-ball-1{
    margin-left: 90%;
    margin-top: 7%;
    width: 50px;
    height: 50px;
    border-radius:50%;
  }
  .side-ball-2{
    margin-left: 85%;
    margin-top: 20%;
    width: 50px;
    height: 50px;
    border-radius:50%
  }
  .carousel-item a{
    text-decoration: none;
  }

.blinking{
    animation:blinkingText 1s infinite;
    padding-left: 8%;
}
@keyframes blinkingText{
    0%{     color: #ffff;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #ffff;    }
}

/* footer section */
#footer{
    background-color: black;
    padding-left: 15%;
    color: white;
}

#footer i{
    color: rgb(250, 118, 98);
}
@media only screen and (max-width: 600px) {
    #footer{
        padding-left: 0;
        min-width: 100%;
        padding: 5px;
    }
    .footer-text{
        
    }
    #footer h2{
        font-family: 'Lobster', cursive;
    }
    #footer p{
        font-size: 15px;
    }
  }