@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Pacifico&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-height: 100%;
    max-width: 100%;
    font-family: 'poppins', sans-serif;
    color: #222;
}
.background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/portfolio2.jpeg");
    background-size: cover;
    background-position: top;
    max-width: 100%;
    height: 670px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}
/* .background h1{
    position: relative;
    top: 5%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(29, 17, 17, 0.4);
} */
.head .row .col-12{
    color: #F9FAFD;
    margin-top: 10%;
    text-align: center;
}

nav {
    margin: 0 auto;
    align-items: center;
  }
  .navbar-nav{
    align-items: center;
    margin-left: 25%;
    margin-top: 15px;
  }
  
  /* The sticky class is added to the nav with JS when it reaches its scroll position to maintain a fixed position */
  .sticky {
    position: fixed;
    top: 0;
    z-index:1;
    min-width: 100%;
    margin: auto;
    background-color: black;
    transition: padding 2000ms ease;
    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    padding-top: 15px;
  }
  
  .nav-link {
      background-color:rgba(255,255,255,0.7);
      float: left;
      padding-bottom: 10px;
      padding-right: 6px;
      margin-right:15px;
      border-bottom: 5px solid #83D2C3;
      border-left: 2px solid rgb(169, 235, 223);
      border-top: 0.5px solid rgb(215, 245, 239);
      border-right: 0.1px solid rgb(230, 253, 249);
    
    }

  a {
      text-decoration: none;
      color: #0DAEA3; 
      font-weight: bold;
      margin-bottom: 10px;
  }
  .nav-link {
    color: rgb(3, 124, 116); 
}
  .nav-link:hover {
    color: black;
  }
  #image{
    position: absolute;
    margin-left: 45%;
    margin-top: 2%;
  }
  
  #image img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
    
    #fontawesome {
        align-items: center;
        margin-left: 34%;
        padding: 5px;
        max-width: 30%;
        
    }

    .fab:hover {
        color: white;
        text-decoration: none;
      }
      @media only screen and (max-width: 990px) {
          #sticky-top{
              display: none;
          }
          .nav-link {
            width: 90px;
            padding-bottom: 10px;
            padding-right: 1px;
            margin-right:1px;
            border: 1px solid #83D2C3;
          
          }
          
          #image{
            position: absolute;
            margin-left: 40%;
            margin-top: 10%;
          }
          
         #fontawesome {
            max-width: 40%;
            margin-top: 35%;
        }

        .fab{
            margin-right: 0 30% 0 0;
        }
        .flip-card-back .detail p{
            font-size: small;
            
        }
        .links{
            left: 15%;
            top: 85%;
        }
        .links .code{
            padding-right: 10%;
        }
        #image{
            margin-top: 20%;
            margin-left: 45%;
        }
        #image img{
            width: 90px;
            height: 90px;
        }
    
    }
    @media only screen and (min-width: 995px) and (max-width: 1280px) {
        .links{
            margin-left: 2%;
            text-align: start;
            color: rgb(243, 197, 44);
        }
        .links a{
            color: rgb(243, 197, 44) !important;
        } 
        .links .fab{
            padding-right: 2%;
        }   
  
    }
    @media only screen and (min-width: 602px) and (max-width: 1227px) {
        .links{
            position: absolute;
            top: 90%;
            color: rgb(243, 197, 44);
        }
        .links .code{
            margin-right: 3%;
        }
        .links a{
            color: white !important;
            font-size: small;
        } 
        .links a:hover{
            color: rgb(243, 197, 44) !important;
        } 
        .links .fab{
            padding-right: 2%;
        }   
        .flip-card-inner{
            margin-right: 3%;
        }
        .flip-card-front p{
            font-size: small;
        } 
        #blog .color-ball{
            display: none;
        }
        .carousel-control-prev {
            display: none;
        }
        .carousel-control-next {
            display: none;
        }
        .carousel-inner{
            min-width: 100%;
        }
      
        .carousel-item{
            min-width: 100%;
        }
        
        .carousel-caption{
            min-width: 80%;
        }
    }
      /*About Section */
      #about{
        margin-top: 5%;
    }
      h5{
          text-align: center;
      }
      .about{
          padding-top: 5%;
          text-align: center;
      }
      .content .container{
          padding-top: 3%;
          padding-bottom: 10%;
      }
      
      .green1{
          background-color: rgb(110, 203, 133);
        animation: green1 2s ease-out;
        -webkit-animation: green1 2s ease-out;
      }
      .yellow1{
        background-color: rgb(243, 197, 44);
        animation: yellow1 2s ease-out;
        -webkit-animation: yellow1 2s ease-out;
    }
      .red1{
        background-color:#34A092;
        animation: red1 2s ease-out;
        -webkit-animation: red1 2s ease-out;
    }
    .orange1{
        background-color: #FF835B;
        animation: orange1 2s ease-out;
        -webkit-animation: orange1 2s ease-out;
    }
    
    .blue1{
        background-color: rgb(107, 53, 35);
        animation: blue1 2s ease-out;
        -webkit-animation: blue1 2s ease-out;
    }
    .myProgress {
        width: 100%;
        background-color: grey;
      }
      .my-bar{
          color: white;
          padding-left: 2%;
      }
     
      @-moz-keyframes green1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    @-moz-keyframes yellow1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 1000%;
        };
    }
    
    @-moz-keyframes red1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @-moz-keyframes orange1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    @-moz-keyframes blue1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @keyframes green1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @keyframes red1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @keyframes yellow1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }
    
    @keyframes blue1 {
        0% {
            width: 0%;
        }
    
        100% {
            width: 100%;
        };
    }

    /* Project section */
    #projects{
        /* background-image: url(img/binary.jpg); */
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
    #projects .add-margin{
        width: 80%;
    }
    @media only screen and (max-width: 600px) {
        #projects .add-margin{
            padding-top: 28%;
        }
    }
    .project-bg {
        margin: 0 auto;
    }
    .project-bg h3{
        font-size: 1.5rem;
    }
    .project-bg .container{
        margin-bottom: 5%;
        /* margin-top: 5%; */
    }
    .project-bg .coll a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    .project-bg .coll a:hover{
        color: #F2C52C;
    }
    .project-bg hr{
        color:white;
    }
    .project-bg img{
        width: 100%;
        height: 150px;
    }

    .checkout{
        margin-bottom: 3%;
        padding: 5%;
        color: black;
        height: 50px;
    }
    .checkout h3{
        border-left: 6px solid #0DAEA3;
        padding-left: 1%;
    }
    .project-bg hr{
        max-width: 30%;
        background-color: #0DAEA3;
        text-align: center;
        margin-left: 10px;
    }
    .project-bg .first-row{
        margin-bottom: 5%;
    }
    .links{
        width: 80%;
        position: absolute;
        left: 10%;
        bottom: 5%;
    }
    
    .code{
        color: white;
        padding-right:30%;
    }
    .project-bg .coll .description{
        color: rgb(53, 16, 4);
        margin-top: 2%;
        font-weight: bold;
    }

    .flip-card {
        background-color: transparent;
        perspective: 1000px;
        height: 200px;
    }
    
    .flip-card-inner {
        padding: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-back {
        background-color: #0DAEA3;
        color: white;
        transform: rotateY(180deg);
        border: 3px solid #F2C52C;
      }
      .flip-card-back .detail{
        background-color: black;
        border: 5px solid white;
        border-bottom: 8px solid #F2C52C;
        color: white;
        
      }
      .flip-card-front{
        text-align: center;
      }
      .flip-card-back .detail p{
        border-left: 2px solid grey;
        padding-left: 2%;
        margin-left: 5%;
        
      }

  #blog{
      margin-top: 8%;
      margin-bottom: 2%;
  }
  
  .carousel-inner{
      max-width: 80%;
      margin: 0 auto;
      padding-top: 0;
  }

  .carousel-item{
    height: 220px;
    margin-bottom: 5%;
  }
  .carousel-item .color-ball a{
      position: absolute;
      top: 40%;
      left: 23%;
      color: white;
  }
  .carousel-item .color-ball a:hover{
    color:black;
  }
  .carousel-caption{
      color:black;
      width: 50%;
  }
  .color-ball {
    height: 120px;
    width: 12%;
    border-radius:50%;
    position: relative;
    top: 40%;
    left: 66%;
  }
  .first{
    background-color:#34A092;
  }
  .second{
    background-color: #FF835B;
  }
  .third{
    background-color:#6B3523;
  }
  .fourth{
    background-color:#ee4ed9;
  }
  .side-ball-1{
    margin-left: 86%;
    width: 50px;
    height: 50px;
    border-radius:50%;
  }
  .side-ball-2{
    margin-left: 86%;
    margin-top: 5%;
    width: 50px;
    height: 50px;
    border-radius:50%;
  }
  .carousel-item a{
    text-decoration: none;
  }
  .carousel-control-prev{
    width: 10%;
    background-color: #0DAEA3;
    height: 50%;
    margin-top: 5%;
    
  }
  .carousel-control-prev-icon{
      width: 30px;
      height: 30px;
  }
  .carousel-control-next{
    width: 10%;
    background-color: #0DAEA3;
    height: 50%;
    margin-top: 5%;
    
  }
  .carousel-control-next-icon{
    width: 30px;
    height: 30px;
}

  @media only screen and (max-width: 600px) {
    #image{
        margin-top: 12%;
        margin-left: 36%;
    }
    .links{
        width: 90%;
        left: 10%;
        bottom: 3%;
    }
    .flip-card-back .detail p{
        border-left: 1px dotted grey;
        padding-left: 1px;
        margin-left: 0em;
        font-size: small;
    }
    
    .background h1{
        font-size: 2em;
    }
    .background p{
        font-size: large;
    }
    .project-bg .coll{
        margin-bottom: 5%;
    }
    .carousel-caption {
        margin-top: 3%;
      position: unset;
      width: 100%;
    }
    .carousel-control-prev {
      display: none;
    }
    .carousel-control-next {
        display: none;
    }
    .carousel-caption h3{
        font-size: 1.5em;
    }
    .carousel-inner{
        max-width: 100%;
    }
  
    .carousel-item{
        max-width: 100%;
    }
    
    .carousel-caption{
        min-width: 50%;
    }
    #blog .color-ball{
        display: none;
    }
    #blog .h5{
        font-size: 10px;
    }
    
    #blog p{
        font-size: 5px;
    }
}
/* footer section */
#footer{
    background-color: black;
    color: white;
    text-align: center;
}

#footer i{
    color: rgb(250, 118, 98);
}
@media only screen and (max-width: 600px) {
    #footer{
        padding-left: 0;
        min-width: 100%;
        padding: 5px;
    }
    #footer h2{
        font-family: 'Lobster', cursive;
    }
    #footer p{
        font-size: 15px;
    }
}